.zooming-body{
    position: relative;
}
.zooming-frame-wrapper{
    position: relative;
}
.zooming-frame{
    transition: all 1s ease;
    width: 200px;
    height: 200px;
    position: absolute;
    top: var(---y);
    left: var(---x);
    background: grey;
    width: var(---width);
    height: var(---height);;
}
.zooming-frame-incStyle{
    opacity: 0.5;
}
.in-zooming, .out-zooming{
    position: absolute !important;
}
.zooming-dummyDiv{
    background: #00800075;
}
.zooming-relative2absolute{
    position: absolute !important;
    z-index: 99999;
}
